*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    box-sizing: border-box;
    word-wrap: break-word;
    text-transform: capitalize;
}
body{
    overflow-x: hidden;
    background: #DDD;
    background:-webkit-radial-gradient(yellow,#080);
    background:-moz-radial-gradient(yellow,#080);
    height: 100%;
}
body::-webkit-scrollbar-thumb{
    background: #226568;
    border-radius: 20px;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background: #888;
}
.overyopen{
    overflow-y: auto;
}

.hidden{
    display: none !important;
}
.margin50{
    margin-top: 50px;
}
.margin20{
    margin-top: 20px;
}

/*------------Nav--------*/
.bg-light{
    background: transparent !important;
}
.logoo{
    border-radius: 50%;
    animation: logooanimate 2s infinite ease-in-out;
}
@keyframes logooanimate{
    0%{
        transform:scale(1.2)
    }
    25%{
        transform:scale(1)
    }
    50%{
        transform:scale(1.2)
     }
    75%{
        transform:scale(1) 
     }
    100%{
        transform:scale(1.2)
    }
}
.m1{
    border-radius: 10px;
    background:darkslategray;
    width: 40%;
}
.m1login{
    border-radius: 10px;
    background:darkslategray;
}
.nav-link{
    color: #FFF !important;
    padding: 10px !important;
    position: relative;
    margin-left: 5px !important;
    cursor: pointer;
}
.nav-link::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width:0px;
    height: 1px;
    background: red;
    transition: 0.5s ease-in-out;
}
.nav-link:hover:before{
    width: 100%;
}
.nav-link:hover{
    background:rgb(61, 102, 102) ;
    color: #3fbbc0 !important;
}

/*----Body-------*/
.paddingg{
    padding: 10px;
}
.flex{
    display: inline-flex;
}
.marginauto{
    margin: 0 auto;
}
.title-page{
    padding: 5px;
}
h2{
    color:#069;
    font-style: italic;
}
h3{
    color:rgb(105, 3, 3);
    padding: 5px;
}
.border1px{
    border: 1px solid;
}
.borderradius10px{
    border-radius: 10px;
}
.width100-height50{
    width: 100%;
    height:150px;
}
.height100{
    height: 100% !important;
}
.overy{
    overflow-y: auto;
    overflow-x: hidden;
}
.overx{
    overflow-x: auto !important;
}
/*---------Footer------------*/
.footerh1{
    font-size: 1.9rem;
    color: #000 !important;
}
.footerc{
   background-repeat: no-repeat;
   background-size:cover;
   background-position:0px 0px;
   background:#4f964e;
   background-blend-mode: screen;
    color: #000;
    padding: 10px;
}
.footera{
    color: #000;
    text-decoration: none !important;
    text-align: center !important;
}
.footera:hover{
    color: #3fbbc0;
}
.footerspan{
    color: #3fbbc0;
    font-size: 1.2rem;
}
.inputsubscripe{
    font-size: 1.3rem;
    margin-left: 0% !important;
}
.inputsubscripe:focus{
    outline: none;
}
.position{
    position: relative;
}
.btnsubcripe{
    background:linear-gradient(to Right,#3fbbc0,#dd88d9);
   font-size:15px;
}
.btnsubcripe:hover{
    background:linear-gradient(to Right,#dd88d9,#3fbbc0);
}

@media (max-width:331px){
.inputsubscripe{
    font-size: 0.8rem;
}
.btnsubcripe{
    font-size: 0.8rem;
}
}
/*-----------------------------Login-Page-------------------------------------------*/
.login-page{
    position: fixed !important;
    background:#DDD ;
    color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 150 !important;
}
.marginlogin{
    margin-top: 5%;
}
.login{
    margin: 0 auto;
    background: #fff;
    width: 60%;
    border-radius: 20px;
    box-shadow: 5px 5px 90px rgb(0, 0, 0),
    -5px -5px 90px #000;
    padding: 10px;
}
.login-header{
    position: relative;
    z-index: 99;
}
.fa-times{
    position: absolute;
    top: 0;
    left: 0;
    font-size:2rem;
    cursor: pointer;
    color: red;
}
.img-login{
width: 100px;
height: 100px;
border-radius: 50%;
padding: 5px;
}
.login-footer>input{
    width: 80%;
    margin-top: 15px;
    padding:10px;
    border-radius: 15px;
}
.login-footer>input:focus{
    outline: none;
}

.login-footer>button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    background:linear-gradient(to Right,#3fbbc0,#dd88d9)
}
.login-footer>button:focus{
    outline: none;
}
.login-footer>button:hover{
    background:linear-gradient(to Right,#dd88d9,#3fbbc0);
    color: #000 !important;
    box-shadow: 5px 5px 8px #3fbbc0,
    -5px -5px 8px #dd88d9;
    
}
.login-footer>h3{
    display: inline-flex;
    cursor: pointer;
    margin-top: 15px;
}
.login-footer>h3:hover{
    color: #3fbbc0;
}

@media (max-width:770px) {
    .line{
        border: none;
    }
}
@media (max-width:290px) {
    .fa-times{
        font-size: 1rem;
    }
    .login-footer>h3{
        display: inline-flex;
        cursor: pointer;
        margin-top: 15px;
        font-size: 1rem;
    }
}
/*---------------------------------home-Page-------------------------------------*/
/*-----------------------------NavBar----------------------*/

.dropdownnavv{
    background: rgb(87, 81, 81);
    position: absolute;
    z-index: 111;
    width: 50%;

}
@media (max-width:586px) {
    .dropdownnavv{
        width: 92%;
    }
}
.dropdown-item{
    color: #FFF;
    transition: .5s ease-in-out ;
}
.dropdown-item:hover{
    transform: translatey(-3px);
    background: rgb(71, 71, 71);
    color: #3fbbc0;
}
.dropdown-item>span{
    margin-left: 5%;
    color: yellowgreen;
    animation: soonaimate 1.5s infinite ease-in-out;
}
@keyframes soonaimate{
    0%{

    }
    25%{
        color: yellow;
    }
    50%{
        color: red;
    }
    100%{
        color: yellowgreen;
    }
}
.dropdown-menu{
    background: rgb(87, 81, 81);
}
.overflow{
    overflow: hidden;
}
.padding0{
    padding: 0 !important;
}
.margin0{
    margin: 0;
}
.Facebook{
    border-left: 5px solid #3b5998;
}
.YouTube{
    border-left: 5px solid #cd486b;

}
.YouTube{
    border-left: 5px solid #ff0000;

}
.Twitter{
    border-left: 5px solid #00acee;

}
.TikTok{
    border-left: 5px solid #000;

}
.Instagram{
    border-left: 5px solid #cd486b;

}
.SnapChat{
    border-left: 5px solid yellow;
}
/*----------------Wheel-Lucky------------------*/
.WheelPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
    background: #DDD;
    padding: 0;
}


.bodyofwheel{
    width: 375px;
    height: 375px;
    background-color:none;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 1% auto;
    
}

.wheel{
	width:375px;
	height:375px;
	background-color: #ccc;
	border-radius:50%;
	border:15px solid #dde;
	position: relative;
	overflow: hidden;
	transition: 5s;
}

.wheel div{
    height: 50%;
    width: 150px;
    position: absolute;
    clip-path: polygon(100% 0 , 50% 100% , 0 0 );
    transform: translateX(-50%);
    transform-origin: bottom;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    left: 97px;
}

.wheel .one{    
	background:linear-gradient(to bottom ,#3f51b5,#b3bbe0);
	left:50%;
}
.wheel .two{
    background:linear-gradient(to bottom ,#123a46,#b3bbe0);	transform: rotate(45deg);
}
.wheel .three{
    background:linear-gradient(to bottom ,#3f51b5,#b3bbe0);	transform:rotate(90deg);
}
.wheel .four{
    background:linear-gradient(to bottom ,#123a46,#b3bbe0);	transform: rotate(135deg);
}
.wheel .five{
    background:linear-gradient(to bottom ,#3f51b5,#b3bbe0);	transform: rotate(180deg);
}
.wheel .six{
    background:linear-gradient(to bottom ,#123a46,#b3bbe0);	transform: rotate(225deg);
}
.wheel .seven{
    background:linear-gradient(to bottom ,#3f51b5,#b3bbe0);	transform: rotate(270deg);
}
.wheel .eight{
    background:linear-gradient(to bottom ,#123a46,#b3bbe0);	transform: rotate(315deg);
}

.arrow{
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	color:#fff;
    z-index: 10;
}

.arrow::before{
	content:"\1F817";
	font-size:30px;
}

#Start-Spin{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:10;
	background-color: #e2e2e2;
	text-transform: uppercase;
	border:8px solid #fff;
	font-weight:bold;
	font-size:20px;
	color:#a2a2a2;
	width: 80px;
	height:80px;
	font-family: sans-serif;
	border-radius:50%;
	cursor: pointer;
	outline:none;
	letter-spacing: 1px;
}
.spinimg{
    position: absolute;
    top: 10%;
    left: 31%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
.numberWheel{
    position: absolute;
    bottom: 40%;
    left: 34%;
}
/*---------------------Add-Mange-Pages------------------*/
.momo4>div{
    margin: 0.5%;
    width: 32%;
}
.addmangelinkpage{
    border-radius: 15px;
    background: rgb(97, 96, 96);
}
.block>a{
    display: block;

}
.addmangelinkpage>a{
    color: #FFF;
    text-decoration: none;
    padding: 5px;
}
.addmangelinkpage>a:hover{
    color: red;
    background:rgb(185, 182, 182) ;
    border-radius: 5px;
}
/*---------------------Add-Link-----------------*/
.tablelink{
background: #FFF !important;
border: none !important;
}
.tablelink>thead>tr>th{
    background: #FFF !important;
    border: none !important;
}
.tablelink>tbody>tr>th,td{
    background: #FFF !important;
    border: none !important;

}
h5{
    color: #069;
    font-style: italic;
    font-weight: 600;
}
.select>select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Remove IE arrow */
.select>select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: flex;
    width: 80%;
    height: 45px;
    line-height: 3;
    background: #2b3b4b;
    overflow: hidden;
    border-radius: .25em;
  }
 .select> select {
    flex: 1;
    padding: 0 .5em;
    color: #3fbbc0;
    cursor: pointer;
    direction: ltr;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding:0 3%;
    background: #015a7e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .select:hover::after {
    color: red;
  }
  
option{
    overflow-y: scroll;
    cursor: pointer;
}

.editworld{
    cursor: pointer;
    color: #3fbbc0 !important;
}
.fa-save{
    color: #3fbbc0;
    cursor: pointer;
    font-size: 25px;
}
.fa-trash-alt{
    color: #3fbbc0;
    cursor: pointer;
    font-size: 25px;  
}
.tableworld{
    background: #555555;
    border-radius: 10px;
    color: #FFF;
}
.tableworld>thead>tr>th{
    background: transparent !important;
    border: none !important;
    color: #3fbbc0;
}
.tableworld>thead>tr>th:hover{
    color: red;
    background: #ccc !important;
}
.tableworld>tbody>tr>td{
    background: transparent !important;
    border: none !important;
}
label{
    cursor: pointer;
    font-size: 0.7rem !important;
}
.tableaddlink{
    background: #FFF !important;
    border: none !important;
    }
    .tableaddlink>thead>tr>th{
        background: #FFF !important;
        border: none !important;
    }
    .tableaddlink>tbody>tr>th,td{
        background: #FFF !important;
        border: none !important;
    
}
/*-------------------------interaction-Page--------------------------------------*/
.header-interaction{
width: 100%;
display: inline-flex;
justify-content: space-between;
}

.logo-interaction{
    width: 20%;
    height: 25%;
    border-radius: 5px;
}
.img-interaction{
    margin-top: 4%;
    width: 25%;
    height: 25%;
    
}
.btn-play{
    margin-top: 2%;
}
.btn-add{
    margin-top: 2%;
    background:linear-gradient(to Right,#3fbbc0,#dd88d9);
    color: #000;

}
.btn-add:hover{
    color: #000;
    background:linear-gradient(to Right,#dd88d9,#3fbbc0);
}
.note-interaction{
    margin-top: 2%;
}
.note-interaction>h4>span{
    color:#3fbbc0;
    font-weight: 600;
    font-size:1.5rem;
}
.note-interaction>h4{
    color: #069;
}
.note-interaction>h3{
    font-size: 1.6rem;
    font-style: italic;
}
.mobile{
    display: none !important;
}

@media (max-width:1000px) {
.lab{
    display:none !important;
}
.mobile{
    display: block !important;
}

}
/*---------------------------Buy-Points----------------------------------------*/
.card {
    cursor: pointer;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 20px #000;
            box-shadow: 0px 0px 20px #000;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card .buy {
    z-index: 10;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.card .buy:hover {
    visibility: visible;
    background: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.card .buy .visa {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 14%;
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    color: green;
    background: #FFF;
}

.card .buy .mada {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 30%;
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    color: green;
    background: #FFF;
}
.card .buy .visa:hover {
    background: red;
    color: #FFF;
}
.card .buy .mada:hover {
    background: red;
    color: #FFF;
}
.card .label {
    background-color: green;
    -webkit-box-shadow: 0px 0px 30px #000;
            box-shadow: 0px 0px 30px #000;
    text-shadow: 0px 0px 5px #fff;
    -webkit-transform: rotate(45deg);
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    left: 35%;
    top: 5%;
    text-align: center;
    font-size: 20px;
    color: #fff;
    /*font-family: "Arial Black";*/
    z-index: 100;
}

.card h2 {
    width: 65%;
    position: relative;
    top: 0;
    left: 10%;
    font-size: 25px;
    color: rgb(31, 46, 116);
    background:linear-gradient(rgb(107, 88, 88),rgb(255, 255, 0));
}
.card h3 {
    width: 65%;
    position: relative;
    top: -20px;
    left: 10%;
    font-size:2.5rem;
}
.card h4 {
    width: 65%;
    position: relative;
    top: -20px;
    left: 10%;
    font-size:1.5rem;
}

.card p {
    position: relative;
    top: -10px;
    left: 10%;
    width: 70%;
    font-size: 13px;
    color: #555;
}

.card .price {
    position: relative;
    top: 0px;
    left: 10%;
    width: 70%;
}

.card .price .value-big {
    position: relative;
    top: -30px;
    left: 10%;
    width: 70%;
    font-weight: bold;
    font-size:3rem;
    color: #33691E;
}
/*-----------------------------Referal-Bouns-------------------*/
.Referal-link{
    border: 10px dashed #000 ;
    border-radius: 5px;
    padding: 8px 3px;
    background:-webkit-radial-gradient(yellow,#080);
    background:-moz-radial-gradient(yellow,#080);
    color: rgb(0, 0, 0);
}
.Referal-link>p{
    padding: 6px;
    margin: 5px 0 5px 0;
    text-transform: lowercase;
    text-align: center;
    font-size: 14px;
}

/*------------------------------top-100--------------------------------------*/
table{
    text-transform: capitalize;
}
.top-100>p{
    margin-top:10px;
    padding: 0;
    color: #069;
    cursor: pointer;
}
.top-100>p:hover{
    margin-top:10px;
    padding: 0;
    color: red;
}
#PersonalBonus>table>tbody>tr>td{
    vertical-align: middle;
}
#PersonalBonus>table>tbody>tr>td>img{
    width: 70px;
    height: 70px;
}
#ReferralBonus>table>tbody>tr>td{
    vertical-align: middle;
}
#ReferralBonus>table>tbody>tr>td>img{
    width: 70px;
    height: 70px;
}
.top-1{
    color: #500404;
    font-size: 1.8rem;
}
.top-2{
    color: #080;
    font-size: 1.7rem;
}
.top-3{
    color: #3fbbc0;
    font-size: 1.4rem;
}
.reletive{
    position: relative;
}
#back{
    position: absolute;
    top: -4px;
    right: 0;
    font-size: 1.5rem;
    color: #3fbbc0;
    cursor: pointer;
}
#back:hover{
    color: #069;
}
#back2{
    position: absolute;
    top: -4px;
    right: 0;
    font-size: 1.5rem;
    color: #3fbbc0;
    cursor: pointer;
}
#back2:hover{
    color: #069;
}

/*--------------------Signboard-------------------------*/
.animate{
    width: 100%;
    height: 60px;
    background: #ddd;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    animation: backgroundd 5s infinite ease-in-out;
}
@keyframes backgroundd {
    0%{
        background:-webkit-radial-gradient(yellow,#080);
        background:-moz-radial-gradient(yellow,#080);
    }

    100%{
        background:-webkit-radial-gradient(#080,yellow);
        background:-moz-radial-gradient(#080,yellow);
    }
}
.animate>h3{
    position: absolute;
    white-space: nowrap;
    font-size: 1.5rem;
   animation: moveh3 11s infinite ease-in-out;
}
@keyframes moveh3 {
    0%{
        left:-87%;
    }
    100%{
        left: 100%;
    }
}
@media (max-width:1000px) {
    .animate>h3{
        position: absolute;
        white-space: nowrap;
        font-size: 1rem;
    } 
}
@media (max-width:780px) {
    .animate>h3{
        position: absolute;
        white-space: nowrap;
        font-size: .8rem;
    } 
    .animate{
        width: 100%;
        height: 40px;
        background: #ddd;
        border-radius: 10px;
        padding: 5px;
        position: relative;
        overflow: hidden;
    
    }
    @keyframes moveh3 {
        0%{
            left:-98%;
        }
        100%{
            left: 100%;
        }
    }
}
@media (max-width:520px) {
    .animate>h3{
        position: absolute;
        white-space: nowrap;
        font-size: .8rem;
    } 
    .animate{
        width: 100%;
        height: 40px;
        background: #ddd;
        border-radius: 10px;
        padding: 5px;
        position: relative;
        overflow: hidden;
    
    }
    @keyframes moveh3 {
        0%{
            left:-100%;
        }
        100%{
            left: 100%;
        }
    }
}
@media (max-width:450px) {
    .animate>h3{
        position: absolute;
        white-space: nowrap;
        font-size: .5rem;
    } 
    .animate{
        width: 100%;
        height: 35px;
        background: #ddd;
        border-radius: 10px;
        padding: 5px;
        position: relative;
        overflow: hidden;
    
    }
    @keyframes moveh3 {
        0%{
            left:-110%;
        }
        100%{
            left: 100%;
        }
    }
}

